form div {
  display: block;
  padding: 0.6em;
}

form label {
  margin: 5px 10px 5px 0;
  vertical-align: top;
}

form input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

form output {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius : 5px;
}

textarea {
  border-radius : 5px;
  padding       : 1em;
  width         : 30em;
}

textarea:focus {
  background   : rgba(0,0,0,.1);
  outline      : none;
}

rect {
  fill:none;
  stroke:Gray;
  stroke-width: 0.05vh;
  fill-opacity:0.3;
}

/*
  globally disable "double-tap zoom" as it makes the
  mobile experience terrible (https://stackoverflow.com/a/53236027/1120453) */
* {
  touch-action: manipulation;
}